/*Typography*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.icon{
    margin-left: 6rem; /*1rem = 10px*/
    padding: 10px;
    width: 50rem;
}

/*Navegación principal*/

@media (min-width: 375px) {
    .icon {
        margin-right: 70px;
        padding: 10px;
        width: 30rem;
    }
}

@media (min-width: 375px) {
    .IconText {
        margin-left: 4rem;
    }
}
